/* VARIÁVEIS */
:root {
    --gameColor: #FFD16D;
    --green--grass: #005A00;
}

/* VARIÁVEIS */

/* GERAL */

body {
    font-family: "Luckiest Guy";
    font-size: 16px;
    background-image: url("./images/marioSky.jpg");
    background-size: contain;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.displayNone{
    display: none !important;
}

/* GERAL */

/* HEADER */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80px;
    margin-bottom: 200px;
    background-image: url("./images/marioBackground.jpg");
    background-size: cover;
}

header h1 {
    font-size:22px;
    margin-top: 3px;
    color: #fff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
header span {
    font-size: 12px;
    color: var(--green--grass);
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: black;
}

.container {
    width: 300px;
    height: 80px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* HEADER */

/* GAME SPACE */


.game {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 300px;
}

.game--towers {
    background-color: #2C8D33;
    height: 120px;
    width: 15px;
    /* border-top-left-radius: 20px;
    border-top-right-radius: 20px; */
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.game--towers::after{
    position: absolute;
    top: 0;
    text-align: center;
    content: "";
    height:12px;
    width:20px;
    background-color: #2C8D33;
    border-radius: 2px;
    border: 1px solid #0e0d0d2c;
}

.disks {
    height: 25px;
    border-radius: 8px;
    z-index: 2;
}

.disk1 {
    background-color: #2adddd;
    width: 30px;
}

.disk2 {
    background-color: #9900ff;
    width: 50px;
}

.disk3 {
    background-color: #ff8800;
    width: 70px;
}

.disk4 {
    background-color: #e62c2c;
    width: 90px;
}

.disk5 {
    background-color: #2c76e6;
    width: 110px;
}

/* GAME SPACE */

/* GAME DECOR */

.game--bottom {
    background-color: var(--green--grass);
    height: 20px;
    border-radius: 8px;
    width: 300px;
}

.game--grass {
    background-image: url("./images/marioFloor.png");
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 320px;
    color: green;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.hidden{
    display: none;
}
.modalVitoria{
    background-color: rgba(23, 102, 134, 0.856);
    font-size: 22px;
    width: 100%;
    position: absolute;
    height: 200px;    
    top: 100px;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modalVitoria h1{
    position: absolute;
    z-index: 3;
    color: white;
    top: 50px;
}
.modalVitoria button{
    background-color: #2adddd;
    color: #005A00;
}

.modalRegras{
    background-color: rgba(255, 0, 0, 0.452);
    width: 100%;
    position: absolute;
    height: 200px;    
    top: 100px;
    z-index: 3;
    display: flex;
    justify-content: center;    
    align-items: center;
}
.modalRegras h3{
    position: absolute;
    z-index: 3;
    color: white;
    text-align: center;
    line-height: 30px;
}

/* GAME DECOR */


/* MEDIA QUERIES */


/* MEDIA QUERIES */